@model QueryModel
@{
    ViewBag.Title = "Manipulation";
    Layout = "_Layout";
}
<script src="lib/ace-builds-1.5.0/src-min/ace.js" type="text/javascript" charset="utf-8"></script>

<h2>Manipulation</h2>



<div class="container">
    <div class="row">
        @*Database info*@
        <div class="col-3">
            @if (Model.DatabaseInfo?.Schemas != null)
            {
                <h4>Schemas</h4>
                <ul id="myUl">
                    @foreach (var schema in Model.DatabaseInfo?.Schemas)
                    {
                        <li><span class="caret">@schema.SchemaName</span>
                            <ul class="nested">
                                <li><span class="caret">Tables</span>
                                    <ul class="nested">
                                        @foreach (var table in schema.Tables)
                                        {
                                            <li>@table</li>
                                        }
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    }
                </ul>
            }
        </div>
        
        @*Editor*@
        <div class="col">
            <form asp-action="Index" method="post">
                @Html.HiddenFor(model => model.QueryText, new { @id = "hidden_query_text" })
                <div id="editor" class="editor">@Model.QueryText</div>
                <input type="submit" class="btn-primary mt-2">
            </form>
        </div>

        @*Query result*@
        <div class="col">
                @if (Model.Headers?.Count != 0 && !Model.HasError)
                {
                    <div class="scrollable">
                        <table>
                            <tr>
                                @foreach (var header in Model.Headers!)
                                {
                                    <th>@header</th>
                                }
                            </tr>

                            @foreach (var row in Model.Rows!)
                            {
                                <tr>
                                    @foreach (var column in row)
                                    {
                                        <td>@column.ToString()</td>
                                    }
                                </tr>
                            }
                        </table>
                    </div>
                }

                @if (Model.HasError)
                {
                    <div class="text-danger">@Model.ErrorText</div>
                }

                @if (Model.Headers?.Count == 0 && !Model.HasError && !string.IsNullOrEmpty(Model.QueryText))
                {
                    <div class="text-success">
                        Query:<br/>
                        @Model.QueryText<br/>
                        Sussessfuly executed
                    </div>
                }
            </div>
    </div>
</div>

<script>
    let editor = ace.edit("editor");
    editor.setTheme("ace/theme/xcode");
    editor.session.setMode("ace/mode/sql");
    
    $("form").submit(function() {
      $("#hidden_query_text").val(editor.getSession().getValue());
    })
</script>

<script>
    let toggles = document.getElementsByClassName("caret");
    for (let i = 0; i < toggles.length; i++) {
        toggles[i].addEventListener("click", function () {
            this.parentElement.querySelector(".nested").classList.toggle("active");
            this.classList.toggle("caret-down");
        })
    }
</script>