@model QueryModel
@{
    ViewBag.Title = "Manipulation";
    Layout = "_Layout";
}
<script src="lib/ace-builds-1.5.0/src-min/ace.js" type="text/javascript" charset="utf-8"></script>

<h2>Manipulation</h2>



<div class="container">
    <div class="row">
        <div class="col-sm">
            <form asp-action="Index" method="post">
                @Html.HiddenFor(model => model.QueryText, new { @id = "hidden_query_text" })
                <div id="editor" class="editor">@Model.QueryText</div>
                <input type="submit" class="btn-primary mt-2">
            </form>
        </div>
        <div class="col-sm">
            @if (Model.Headers != null && !Model.HasError)
            {
                <div class="scrollable">
                    <table>
                        <tr>
                            @foreach (var header in Model.Headers!)
                            {
                                <th>@header</th>
                            }
                        </tr>

                        @foreach (var row in Model.Rows!)
                        {
                            <tr>
                                @foreach (var column in row)
                                {
                                    <td>@column.ToString()</td>
                                }
                            </tr>
                        }
                    </table>
                </div>
            }
            
            @if (Model.HasError)
            {
                <div class="text-danger">@Model.ErrorText</div>
            }
        </div>
    </div>
</div>

<script>
    let editor = ace.edit("editor");
    editor.setTheme("ace/theme/xcode");
    editor.session.setMode("ace/mode/sql");
    
    $("form").submit(function() {
      $("#hidden_query_text").val(editor.getSession().getValue());
    })
</script>